@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans tracking-tight;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-medium tracking-tighter;
  }
}

.minimal-border {
  @apply border border-black/10;
}

.subtle-shadow {
  @apply shadow-sm;
}

.hover-lift {
  @apply hover:-translate-y-1 transition-transform duration-300;
}
